# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
/*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# Shiny token, see https://shiny.rstudio.com/articles/shinyapps.html
rsconnect/
/slides/intro-matrices/slidespreamble.log
/slides/intro-matrices/slidespreamble.fls
/slides/intro-matrices/slidespreamble.fdb_latexmk
/slides/intro-matrices/slidespreamble.aux
/slides/intro-matrices/slides-intro-matrices.xdv
/slides/intro-matrices/slides-intro-matrices.vrb
/slides/intro-matrices/slides-intro-matrices.toc
/slides/intro-matrices/slides-intro-matrices.synctex.gz
/slides/intro-matrices/slides-intro-matrices.snm
/slides/intro-matrices/slides-intro-matrices.pre
/slides/intro-matrices/slides-intro-matrices.out
/slides/intro-matrices/slides-intro-matrices.nav
/slides/intro-matrices/slides-intro-matrices.log
/slides/intro-matrices/slides-intro-matrices.fls
/slides/intro-matrices/slides-intro-matrices.fdb_latexmk
/slides/intro-matrices/slides-intro-matrices.aux
/slides/intro-matrices/slides-intro-matrices.atfi
/slides/principal-components-analysis/slides-pca.xdv
/slides/principal-components-analysis/slides-pca.vrb
/slides/principal-components-analysis/slides-pca.toc
/slides/principal-components-analysis/slides-pca.synctex.gz
/slides/principal-components-analysis/slides-pca.snm
/slides/principal-components-analysis/slides-pca.pre
/slides/principal-components-analysis/slides-pca.out
/slides/principal-components-analysis/slides-pca.nav
/slides/principal-components-analysis/slides-pca.fls
/slides/principal-components-analysis/slides-pca.fdb_latexmk
/slides/principal-components-analysis/slides-pca.aux
/slides/singular-value-decomposition/slides-svd.nav
/slides/singular-value-decomposition/slides-svd.log
/slides/singular-value-decomposition/slides-svd.fdb_latexmk
/slides/singular-value-decomposition/slides-svd.aux
/slides/singular-value-decomposition/slides-svd.synctex.gz
